.main_blok {
  width: 1600px;
  position: relative;
  overflow: hidden;
}
.main_blok .take_tour {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 3px;
  background: white;
  color: black;
  transition: 0.3s;
}
.main_blok .take_tour:hover {
  background: black;
  color: white;
}
.main_blok .slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-statr;
  flex-direction: row;
  width: 100%;
  transition: left 0.5s;
}
.main_blok .slider .slider_blok {
  position: relative;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main_blok .slider .slider_blok img {
  width: 1600px;
}
.main_blok .slider .slider_blok .download_blok {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  background: #000000;
  padding: 20px 70px;
  border-radius: 10px;
  opacity: 0.65;
  transition: 0.3s;
}
.main_blok .slider .slider_blok .download_blok:hover {
  opacity: 1;
}
.main_blok .slider .slider_blok .download_blok .subtitle {
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}
.main_blok .slider .slider_blok .download_blok .subtitle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50px;
  width: calc(100% + 100px);
  height: 1px;
  background: #ffffff85;
}
.main_blok .slider .slider_blok .download_blok p {
  padding: 20px 0;
}
.main_blok .slider .slider_blok .download_blok button {
  width: calc(100% + 100px);
  position: relative;
  left: -50px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
}
.main_blok .slider .slider_blok .download_blok button, .main_blok .slider .slider_blok .download_blok button svg {
  transition: 0.3s;
}
.main_blok .slider .slider_blok .download_blok button svg {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  fill: white;
}
.main_blok .slider .slider_blok .download_blok button:hover {
  background: #b1b1b1 !important;
  color: black;
}
.main_blok .slider .slider_blok .download_blok button:hover svg {
  fill: black;
}

@media (max-width: 1600px) {
  .main_blok {
    max-width: 100vw;
  }
  .main_blok .slider .slider_blok img {
    width: 100vw;
  }
}
@media (max-width: 1024px) {
  .main_blok {
    height: max-content;
  }
  .main_blok .take_tour {
    height: max-content;
    transform: translateY(0%);
    width: 100%;
    right: 0;
    border-radius: 0;
    position: static;
    background: black;
    color: white;
  }
  .main_blok .slider .slider_blok .download_blok {
    padding: 0;
    width: 100%;
    transform: none;
    top: 0;
    left: 0;
    opacity: 1;
    position: static;
  }
  .main_blok .slider .slider_blok .download_blok .subtitle, .main_blok .slider .slider_blok .download_blok p {
    display: none;
  }
  .main_blok .slider .slider_blok .download_blok button {
    width: 100%;
    left: 0;
  }
}

/*# sourceMappingURL=main_blok.css.map */
